.modal-overflow {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  .modal-window {
    margin: auto;
    background-color: #fafafa;
    min-width: 300px;
    min-height: 300px;
  }
}
